<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.FabusMapper" >
  <insert id="addRenWu">
      insert into xxw_fabu(acceptid,rwtype,acceptzt,finishzt,shzts) values(#{username},#{text},0,0,0)
  </insert>
    <!--   查询总条数 -->
    <select id="queryFabuTotal" resultType="long">
        select count(*) from xxw_fabu where 1=1
    </select>
    <!--   分页查询 的-->
    <select id="queryFabuByPage"  resultType="com.jk.pojo.Fabus" >
        select * from  xxw_fabu where publishid
        limit #{star},#{rows}
    </select>
    <update id="updateFabuzt" parameterType="com.jk.pojo.Users">
        update xxw_users set   userlevel=2 where id=#{id}
    </update>
</mapper>