<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.MenuTreeMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.MenuTree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="href" property="href" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, text, pid, href
  </sql>

  <select id="queryMenusByPid" resultType="com.jk.pojo.MenuTree">
    select * from xxw_sys_tree where pid=#{pid}
  </select>


  <select id="syqtsj" resultType="com.jk.pojo.PicGroup">
    SELECT p.id,typename,fmimgurl,picgroupmenuid,topiczancount zanzong
      FROM xxw_topic t,xxw_zmenu z,xxw_picgroup p WHERE t.topictypeid=z.id  and
     z.text=p.typename and z.id=p.picgroupmenuid GROUP BY p.picgroupmenuid
     ORDER BY p.picgroupmenuid
  </select>

  <select id="syqtsjbt" resultType="com.jk.pojo.ZmenuPoJo">
    select * from xxw_zmenu where pid=3
  </select>

  <select id="qtqbtp" resultType="com.jk.pojo.Topic">
    select * from xxw_topic where topicshzt=1
  </select>
</mapper>